/* common css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}
.flex_centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background: linear-gradient(135deg, #24292873, #a9b3ba, #000700a6);
  height: 100vh;
  flex-direction: column;
  gap: 4px;
}

.container {
  width: 50%;
  height: 60vh;
  max-height: 450px;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(16, 16, 16);
  position: relative;
}
.container input {
  position: absolute;
  top: 48px;
  left: 111px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #a9b3ba;
  width: 432px;
  height: 46px;
  padding-left: 5px;
}
.container input::placeholder {
  color: black;
}

.container .addbtn {
  position: absolute;
  top: 48px;
  left: 432px;
  border-radius: 11px;
  outline: none;
  width: 114px;
  background-color: green;
  height: 46px;
}
.list_container {
  position: absolute;
  top: 101px;
  left: 9px;
  background-color: rgb(161, 152, 152);
  width: 96%;
  padding: 5px 10px 10px 0;
  flex-direction: column;
  border-radius: 5px;
}
.list-items {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  border-radius: 11px;
  margin: 5px 0;
  padding: 8px 5px 8px 5px;
  width: 97%;
  flex-wrap: wrap;
}
.list-items button {
  border-radius: 11px;
  outline: none;
  width: 68px;
  background-color: red;
  height: 28px;
  font-weight: 500;
  font-size: 16px;
  transition: all 3s cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out 2s;
}
.list-items button:hover {
  font-size: 19px;
  height: 30px;
}
@media (max-width: 375px) {
  .container {
    width: 94%;
    height: 60vh;
    max-height: 450px;
    background: #d3c7c7;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(16, 16, 16);
    position: relative;
  }
  .container input {
    position: absolute;
    top: 48px;
    left: 9px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #a9b3ba;
    width: 317px;
    height: 50px;
    padding-left: 24px;
  }
  .container .addbtn {
    position: absolute;
    top: 48px;
    left: 233px;
    border-radius: 11px;
    outline: none;
    width: 95px;
    background-color: green;
    height: 49px;
  }
  .list_container {
    position: absolute;
    top: 111px;
    left: 6px;
    background-color: rgb(161, 152, 152);
    width: 93%;
    padding: 5px 10px 10px 0;
    flex-direction: column;
    border-radius: 5px;
  }
}
